body {
    background-image: url('../images/back/main_back.jpg');
    background-repeat: repeat;
    background-position: top;
}

.main_content {
    width: 1680px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.main_content aside {
    height: 100%;
    width: 432px;
    min-height: 492px;
    position: relative;
    display: block;
    float: right;
}

aside .menu {
    width: 80px;
    position: absolute;
    float: left;
    right: 0;
    top: 6px;
}
aside .user_profile {
    background-image: url("../images/back/user_profile_back.png");
    background-repeat: no-repeat;
    background-position: center;
    display: table-cell;
    right: 80px;
    top: 0;
    width: 320px;
    height: 460px;
    border: 16px ridge darkgoldenrod;
    position: absolute;
}
aside .day_signed{
    background-image: url("../images/back/user_profile_back.png");
    background-repeat: no-repeat;
    background-position: center;
    display: table-cell;
    right: 80px;
    top: 492px;
    width: 320px;
    height: 180px;
    border: 16px ridge darkgoldenrod;
    position: absolute;
}

.main_content main{
    height: 100%;
    min-height: 1000px;
    width: 1232px;
    position: relative;
    display: block;
    float: left;
}

main .task_list {
    background-image: url("../images/back/wood.png");
    background-repeat: repeat;
    height: 100%;
    min-height: 1000px;
    width: 1200px;
    border: 16px ridge darkgoldenrod;
    position: relative;
}
main .user_editor{
    background-image: url("../images/back/wood.png");
    background-repeat: repeat;
    height: 100%;
    min-height: 1000px;
    width: 1200px;
    border: 16px ridge darkgoldenrod;
    position: relative;
}
.main_title {
    background-image: url("../images/back/task_title_back.png");
    background-repeat: no-repeat;
    display: block;
    width: 600px;
    height: 42px;
    text-align-last: justify;
    padding: 8px 300px 0 300px;
    border: 16px none darkgoldenrod;
    border-bottom-style: ridge;
}