body {
    background-image: url('../images/main_back.jpg');
    background-repeat: repeat;
    background-position: top;
}

.head_content {
    margin: 0 auto;
    max-width: 1500px;
}

.head_content ul {
    position: relative !important;
    display: block;
    width: 100%;
}

.head_content li {
    background-image: url('../images/menu_bt.png');
    background-repeat: no-repeat;
    display: table-cell;
    width: 80px;
    height: 80px;
    text-align: center;
}

.head_content li a {
    vertical-align: bottom;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.head_content li img {
    margin: 8px 20px 0;
}

.main_content {
    background-image: url("../images/wood.png");
    background-repeat: repeat;
    height: 100%;
    margin: 0 auto;
    min-height: 1000px;
    width: 1600px;
    border: 16px ridge darkgoldenrod;
    box-shadow: 0 5px 30px rgb(50 50 50);
}

.main_content .task_list {
    display: table-cell;
    width: 1200px;
    min-height: 1000px;
}

.main_content .user_profile {
    background-image: url("../images/paper.png");
    background-repeat: no-repeat;
    background-position: center;
    right: 8px;
    top: 8px;
    display: table-cell;
    width: 400px;
    height: 700px;
    border: 16px ridge darkgoldenrod;
    border-top:none;
    border-right: none;
}

.clear-fix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.user_profile .head_frame{
    display: block;
    margin: auto;
    border: 16px ridge darkgoldenrod;
    border-top: none;
}
.user_profile li{
    display: block;
}
.user_profile .mid{
    margin: auto;
    text-align: center;
}
.user_profile .sex{
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 8px 0 0;
    vertical-align: middle;
}
.exp_bar{
    background-image: url("../images/exp_bar.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 206px;
    height: 30px;
    margin: auto;
}
.exp_content{
    padding: 10px 10px 10px 46px;
    width: 150px;
    height: 10px;
}
.exp_content .exp{
    height: 100%;
    vertical-align: super;
}
.exp_content .exp:hover{
    content: attr(title);
}
.user_profile label{
    background: url("../images/label.png");
    background-size: 100%;
    width: 100px;
    padding: 18px 50px 10px;
    text-align-last: justify;
    display: inline-block;
    vertical-align: middle;
}
.user_profile p{
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 0;
}