body {
    background-image: url('../images/stone.png');
    background-repeat: repeat;
    background-position: top;
}

button {
    background-color: transparent;
}

.login_box {
    background: url("../images/login_box.png") no-repeat center;
    background-size: contain;
    position: absolute;
    width: 1200px;
    height: 800px;
}

.login_box h1 {
    font-size: 48px;
    text-align: center;
    text-align-last: justify;
}

.login_box img {
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
}

.login_box li {
    width: 640px;
    height: 80px;
    text-align: center;
    text-align-last: auto;
    display: block;
    vertical-align: middle;
}

.login_box label {
    background: url("../images/label.png");
    background-size: 100%;
    width: 100px;
    padding: 18px 50px 10px;
    text-align-last: justify;
    display: inline-block;
    vertical-align: middle;
}

.login_box input {
    background: url("../images/input.png");
    background-size: 100%;
    width: 360px;
    padding: 16px 20px 12px;
    border: none;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.login_box button {
    background: url('../images/button.png');
    background-size: 100%;
    width: 300px;
    height: 60px;
    padding: 18px 50px 10px;
    text-align-last: center;
    font-size: 30px;
    border: none;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.login_box span {
    background: url('../images/hint.png');
    background-size: 100%;
    width: 400px;
    text-align-last: justify;
    padding: 18px 100px 10px;
    display: inline-block;
    vertical-align: middle;
}