
body {
    background-image: url('../images/stone.png');
    background-repeat: repeat;
    background-position: top;
}

button {
    background-color: transparent;
}

.reg_box .male_icon {
    position: absolute;
    width: 192px;
    height: 192px;
    top: 84px;
    left: 432px;
}

.reg_box .female_icon {
    background-image: url('../images/icon_bg.png');
    position: absolute;
    width: 192px;
    height: 192px;
    top: 84px;
    left: 432px;
}

.reg_content {
    width: 640px;
    position: absolute;
    left: 216px;
    top: 304px;
}

.reg_box {
    background: url("../images/reg_back.png") no-repeat center;
    background-size: contain;
    position: absolute;
    width: 1056px;
    height: 776px;
}

.reg_box h1 {
    font-size: 48px;
    text-align: center;
    text-align-last: justify;
}

.reg_box img {
    position: absolute;
    display: none;
    width: 192px;
    height: 192px;
}

.reg_box li {
    width: 640px;
    height: 80px;
    padding: 4px 0;
    text-align: center;
    text-align-last: auto;
    display: block;
    vertical-align: middle;
}

.reg_box label {
    background: url("../images/label.png");
    background-size: 100%;
    width: 100px;
    padding: 18px 50px 10px;
    text-align-last: justify;
    display: inline-block;
    vertical-align: middle;
}

.reg_box input {
    background: url("../images/input.png");
    background-size: 100%;
    width: 360px;
    padding: 16px 20px 12px;
    border: none;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.reg_box button {
    padding: 0;
    border: none;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.reg_box span {
    background: url('../images/hint.png');
    width: 400px;
    background-size: 100% auto;
    text-align-last: justify;
    padding: 18px 100px 10px;
    display: inline-block;
    vertical-align: middle;
}

.reg_box .pre_button {
    background: url("../images/pre_button.png");
    background-size: 100%;
    position: absolute;
    width: 88px;
    height: 68px;
    left: 320px;
    top: 140px;
}

.reg_box .next_button {
    background: url("../images/next_button.png");
    background-size: 100%;
    position: absolute;
    width: 88px;
    height: 68px;
    left: 648px;
    top: 140px;
}

.reg_box .male_button {
    background: url("../images/male.png");
    background-size: 100%;
    position: absolute;
    width: 52px;
    height: 52px;
    left: 356px;
    top: 220px;
}

.reg_box .female_button {
    background: url("../images/female.png");
    background-size: 100%;
    position: absolute;
    width: 52px;
    height: 52px;
    left: 648px;
    top: 220px;
}

.reg_box .reg_button {
    background: url('../images/button.png');
    background-size: 100%;
    width: 300px;
    height: 60px;
    padding: 18px 50px 10px;
    text-align-last: center;
    font-size: 30px;
    border: none;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}
.reg_box span {
    background: url('../images/hint.png');
    background-size: 100%;
    width: 400px;
    text-align-last: justify;
    padding: 18px 100px 10px;
    display: inline-block;
    vertical-align: middle;
}