@font-face {
    font-family: RPG;
    src: url("../fonts/DottedSongtiSquareRegular.otf");
}

@font-face {
    font-family: RPG_D;
    src: url("../fonts/DottedSongtiDiamondRegular.otf");
}

@font-face {
    font-family: RPG_C;
    src: url("../fonts/DottedSongtiCircleRegular.otf");
}
.rpg_font {
    font: 25px RPG_C;
    font-weight: bolder;
}
.rpg_6h {
    font-size: 64px;
}
.rpg_5h{
    font-size: 48px;
}
.rpg_4h {
    font-size: 32px;
}
.rpg_3h {
    font-size: 26px;
}
.rpg_1h {
    font-size: 10px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}