.content .task_info_list {
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari å’Œ Chrome */
    column-count:3;
}

.content .task_info {
    position: relative;
    display: inline-block;
    margin: 20px 50px;
}

.content .task_head {
    background-image: url("../images/back/t_title_back.png");
    background-repeat: no-repeat;
    position: relative;
    width: 200px;
    padding: 30px 50px 6px 50px;
    height: 64px;
    text-align: center;
}

.content .submenu {
    background-image: url("../images/back/menu_back.png");
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 50px;
    border: 16px none darkgoldenrod;
    border-bottom-style: ridge;
}

.submenu .sort_group {
    float: left;
    height: 50px;
    position: relative;
}

.sort_group .menu_button {
    background-image: url("../images/common_ui/sub_button.png");
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 146px;
    height: 24px;
    cursor: pointer;
    padding: 13px 44px 13px 10px;
    text-align: center;
    color: white;
}

.sort_group .sub_button {
    background-image: url("../images/common_ui/sub_button.png");
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;
    position: absolute;
    width: 146px;
    height: 24px;
    left: 171px;
    cursor: pointer;
    padding: 13px 44px 13px 10px;
    text-align: center;
    color: white;
    z-index: 1;
}

.sort_group .drop_button {
    background-image: url("../images/common_ui/sub.png");
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: top;
    display: inline-block;
    width: 70px;
    height: 50px;
    cursor: pointer;
}

.sort_group .sort_icon {
    position: absolute;
    left: 330px;
    top: 14px;
    width: 18px;
    cursor: pointer;
}

.submenu .search_group {
    float: right;
    height: 50px;
    position: relative;
}

.submenu label {
    background: url("../images/common_ui/label.png");
    background-size: contain;
    width: 66px;
    height: 24px;
    padding: 16px 50px 10px;
    text-align-last: justify;
    display: inline-block;
}

.search_group .menu_button {
    background-image: url("../images/common_ui/sub_button.png");
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 168px;
    height: 29px;
    cursor: pointer;
    padding: 13px 10px 13px 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.search_group .search_bar {
    background: url("../images/common_ui/input.png");
    background-size: contain;
    height: 46px;
    width: 316px;
    padding: 4px 0 0 20px;
    display: inline-block;
    border: none;
}

.search_group .search_btn {
    background: url("../images/common_ui/squareBt.png");
    height: 34px;
    width: 34px;
    padding: 8px;
    cursor: pointer;
    display: inline-block;
}

.task_head .task_icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.task_head h1 {
    color: brown;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content .task_content {
    background-image: url("../images/back/t_content_back.png");
    background-repeat: repeat-y;
    position: relative;
    width: 260px;
    padding: 0 15px 0 25px;
    word-wrap: break-word;
    text-align: justify;
}

.content .task_foot {
    background-image: url("../images/back/t_foot_back.png");
    background-repeat: no-repeat;
    position: relative;
    width: 230px;
    padding: 10px 45px 40px 25px;
    height: 50px;
}

.task_foot .award {
    float: left;
    width: auto;
    height: 30px;
    margin-top: 11px;

}

.task_foot .submit {
    background: url("../images/common_ui/label.png");
    background-size: contain;
    float: right;
    color: coral;
    cursor: pointer;
    width: 100px;
    height: 30px;
    padding: 6px 28px 0;
    margin-top: 11px;
    border: 0;
}

.task_foot .progress {
    background: url("../images/common_ui/label.png");
    background-size: contain;
    float: right;
    color: greenyellow;
    cursor: default;
    width: 66px;
    height: 24px;
    padding: 6px 17px 0;
    margin-top: 11px;
}

.task_foot .finish {
    background: url("../images/common_ui/label.png");
    background-size: contain;
    float: right;
    cursor: default;
    width: 66px;
    height: 24px;
    padding: 6px 17px 0;
    margin-top: 11px;
}
.task_foot .smallBtn{
    background: url("../images/common_ui/squareBt.png");
    background-size: contain;
    float: right;
    width: 40px;
    height: 40px;
    margin: 4px;
}

.send_area .a_title {
    background: url("../images/common_ui/input.png");
    background-size: 100%;
    width: 288px;
    height: 48px;
    padding: 0 16px;
    border: none;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.send_area .a_desc {
    background: none;
    border: 16px ridge darkgoldenrod;
    border-left: none;
    border-right: none;
    width: 288px;
    height: 316px;
    resize: none;
    text-align: left;
    padding: 8px 16px;
    display: inline-block;
    vertical-align: middle;
}

.send_area .a_award {
    background: none;
    margin: 8px 0 8px 8px;
    width: 150px;
    height: 30px;
    border: none;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}